<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Stream and Play Audio</title>
  <script>
    var audioctx = {
      current_track: -1,
      current_chunk: -1,
      max_chunks: -1
    }
    var buffers = {};
    var sources = {};

    function initAudioContext() {
      fetch('/get?current_track=' + audioctx.current_track)
        .then(response => response.json())
        .then(data => {
          audioctx.current_track = data.current_track;
          audioctx.current_chunk = 0;
        });
    }

    async function loadChunk(chunk_number) {
      if (buffers[chunk_number]) {
        return buffers[chunk_number];
      }

      const response = await fetch('/play?current_track=' + audioctx.current_track + '&current_chunk=' + chunk_number);
      const arrayBuffer = await response.arrayBuffer();
      const audioBuffer = await audioContext.decodeAudioData(arrayBuffer);
      buffers[chunk_number] = audioBuffer;
      return audioBuffer;
    }

    function clearAudioContext() {
      audioctx.current_track = -1;
      audioctx.current_chunk = -1;
      audioctx.max_chunks = -1;
    }

    document.addEventListener('DOMContentLoaded', function () {
      const audioContext = new (window.AudioContext || window.webkitAudioContext)();

      function playAudio() {
        var accBufferTime = 0;
        if (audioctx.current_chunk == -1) {
          initAudioContext();
        }

        for (var i = 0; i < audioctx.max_chunks; i++) {
          loadChunk(i).then(function (buffer) {
            const source = audioContext.createBufferSource();
            source.buffer = buffer;
            source.connect(audioContext.destination);
            const offset = audioContext.currentTime + accBufferTime;
            source.start(offset);
            accBufferTime += buffer.duration;
          });
        }

        setTimeout(function () {
          clearAudioContext();
          playAudio();
        }, accBufferTime * 1000);
      }

      playAudio();
    });
  </script>
</head>

<body>
  <h1>Streaming Audio Player</h1>
  <p>Audio is being streamed and played...</p>
</body>

</html>
